<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Shop</title>
<!--    <link rel="stylesheet" data-th-href="@{/style.css}" media="all">-->
</head>
<body>

<div class="container">
    <div class="header">Welcome to online Shop</div>

    <form method="POST" action="login">

        <input name="customer" type="text" placeholder="Username" required>
        <br>
        <input name="password" type="password" placeholder="Password">
        <br>
        <input type="checkbox" id="acceptTerms" name="acceptTerms"> I agree with terms of service </input>
        <br>
        <input type="submit" value="Enter">
    </form>

</div>

</body>
</html>