target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
.gitattributes
.idea
.DS_Store
homework1/.idea
homework1/target/
homework1/homework1.iml
*.xml
homework3/.idea
homework3/target/
homework3/homework1.iml
homework4/.idea
homework4/target/
homework4/homework1.iml
homework4/.DS_Store
.gitattributes
.gitignore
