target/
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.gitattributes
.idea
.DS_Store
homework1/.idea
homework1/target/
homework1/homework1.iml
homework3/.idea
homework3/target/
homework3/homework1.iml
homework4/.idea
homework4/target/
homework4/homework1.iml
homework4/.DS_Store
.gitattributes
.gitignore

